* 
{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.container 
{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link
{
    padding: 0 20px;
    line-height: 50px;
}

.nav-link
{
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
}

.nav-link:hover
{
    color: #4d2323;
}

.main-container
{
    display: flex;
    flex-wrap: wrap;
}

.section 
{
    width: 50%;
}

.section-title
{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
}

.section-profile
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-bottom: 5px solid #829985;
    padding-bottom: 50px;
}

.profile-title
{
    font-size: 40px;
    color: #4d2323;
}

.section-img
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.section-list
{
    list-style: none;
}

.section-item 
{
    position: relative;
    padding-left: 30px;
}
  
.section-item::before 
{
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
    border: 1px solid #829985;
    border-radius: 50%;
}

.section-span
{
    color: #829985;
}

pre
{
    margin: 0;
}

.code-title
{
    margin-bottom: 0;
}

.section-link {
    text-decoration: none;
    color: #829985;
    transition: color 0.5s;
}
  
.section-link:hover {
    color: #5d7260;
}

@media (max-width: 768px)
{
    .section
    {
        width: 100%;
    }
}